
@media (max-width: 480px) {
  #content {
     margin-top: 60px;
  }
  #Shiny1 {
       margin-top: 10px;
  }
  #Bottom{
     margin-top: 100px;
  }
   #home {
     margin-bottom: 9px;
     margin-left: 10px;
  }
  #name {
    margin-top: 3px;
  }
}
@media (min-width: 768px) and (max-width:2000px){
  #Shiny1 {
    margin-top: 20px;
  }
  #Bottom{
     margin-top: 200px;
  }
  #home {
     margin-bottom: 15px;
     margin-left: 50px;
  }
    #name {
    margin-top: 5px;
  }
  #content {
     margin-top: 100px;
  }
}
