@media (min-width: 1024px) {
  #name {
    margin-top: 5px;
  }
}
@media (max-width: 480px) {
  #name {
    margin-top: 3px;
  }
}
@media (max-width: 480px) {
  #home {
     margin-bottom: 9px;
     margin-left: 30px;
  }
}
@media (min-width: 1024px) {
  #home {
     margin-bottom: 15px;
     margin-left: 50px;
  }
}
@media (min-width: 1024px) {
  #content {
     margin-top: 100px;
  }
}
@media (max-width: 480px) {
  #content {
     margin-top: 60px;
  }
}
@media (min-width: 768px) and (max-width:2000px){
  #Shiny1 {
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  #Shiny1 {
       margin-top: 10px;
  }
}
